<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">

 			</div>
		</div>
	</div>
	
	<label>
		Words per paragraph:
		<input type="text" ng-model="wordCount" />
	</label>
	<label>
		Number of paragraphs:
		<input type="text" ng-model="paraCount" />
	</label>

	<button type="button" ng-click="generate()">Generate</button>

	<div id="hpltarget">
		<p ng-repeat="para in hplipsum">
			{{para}}
		</p>
	</div>
</section>