<section data-ng-controller="HomeController">

	<fieldset class="config form-horizontal">
		<div class="form-group">
			<label for="wordCount" class="control-label col-sm-7 col-md-offset-0 col-sm-offset-1 col-xs-6 col-xs-offset-2">
				Words per paragraph:
			</label>
			<div class="col-sm-1">
				<input id="wordCount" type="number" ng-model="wordCount" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="paraCount" class="control-label col-sm-7 col-md-offset-0 col-sm-offset-1 col-xs-6 col-xs-offset-2">
				Number of paragraphs:
			</label>
			<div class="col-sm-1">
				<input id="paraCount" type="number" ng-model="paraCount" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-7 col-md-7 loading control-label hidden-xs">
				{{loadingText}}
			</div>
			<div class="col-sm-3 col-md-3 col-xs-8 col-xs-offset-2 col-sm-offset-0">
				<button class="form-control" type="button" ng-click="generate()">Summon Text</button>
			</div>
		</div>
	</fieldset>

	<div class="generated-text-container col-sm-10 col-sm-offset-1">
		<div id="hpltarget" class="generated-text">
			<p ng-repeat="para in hplipsum">
				{{para}}
			</p>
		</div>
	</div>
</section>

<footer class="col-sm-12 text-right">
	Created by Marc Majcher <email>&lt;majcher@gmail.com&gt;</email>
</footer>