<section class="text-center" data-ng-controller="HomeController">

	<fieldset class="config form-horizontal">
		<div class="form-group">
			<label for="wordCount" class="control-label col-sm-4 col-sm-offset-3">
				Words per paragraph:
			</label>
			<div class="col-sm-1">
				<input id="wordCount" type="text" ng-model="wordCount" class="control-label" />
			</div>
		</div>
		<div class="form-group">
			<label for="paraCount" class="control-label col-sm-4 col-sm-offset-3">
				Number of paragraphs:
			</label>
			<div class="col-sm-1">
				<input id="paraCount" type="text" ng-model="paraCount" class="control-label" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 col-sm-offset-7">
				<button class="control-label" type="button" ng-click="generate()">Summon Text</button>
			</div>
		</div>
	</fieldset>

	<div id="hpltarget" class="generated-text col-sm-10 col-sm-offset-1">
		<p ng-repeat="para in hplipsum">
			{{para}}
		</p>
	</div>
</section>

<footer class="col-sm-12 text-right">
	Created by Marc Majcher <email>&lt;majcher@gmail.com&gt;</email>
</footer>