@font-face {
  font-family: 'hplhs_oldstyle';
  src: url('./fonts/oldstyhplhs-webfont.eot');
  src: url('./fonts/oldstyhplhs-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/oldstyhplhs-webfont.woff2') format('woff2'),
    url('./fonts/oldstyhplhs-webfont.woff') format('woff'),
    url('./fonts/oldstyhplhs-webfont.ttf') format('truetype'),
    url('./fonts/oldstyhplhs-webfont.svg#oldstyle_hplhsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hplhs_oldstyle_sc';
  src: url('./fonts/oldstyschplhs-webfont.eot');
  src: url('./fonts/oldstyschplhs-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/oldstyschplhs-webfont.woff2') format('woff2'),
    url('./fonts/oldstyschplhs-webfont.woff') format('woff'),
    url('./fonts/oldstyschplhs-webfont.ttf') format('truetype'),
    url('./fonts/oldstyschplhs-webfont.svg#oldstyle_hplhssc') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-stack: 'hplhs_oldstyle', 'Libre Baskerville', serif;
$font-stack-sc: 'hplhs_oldstyle_sc', 'Libre Baskerville', serif;

html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  color: #cccccc;
  font-family: $font-stack;
}

body {
  background: transparent url('./img/paperbg1.png') 0 0 repeat;
}

header {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1em 0;

  .title {
    text-align: right;
  }
}

h1 {
  color: white;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
}

h2 {
  font-family: $font-stack-sc;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: capitalize;
}

fieldset {
  border: 0;
}

label {
  font-size: 1.1em;
  letter-spacing: 1px;
}

input[type='number'] {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: bold;
}

button.pure-button {
  font-family: $font-stack-sc;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1.1px;
  margin-top: .25em;
}
button.pure-button:hover {
  background-color: #aaaaaa;
}

.generated-text {
  background: rgba(255, 255, 255, 0.2);
  color: #eeeeee;
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: 2em 12%;
  text-align: justify;

  -webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

footer {
  display: block;
  color: #cccccc;
  font-size: 1em;
  margin-top: 60px;
  padding: 8px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 12vw;
    text-align: center;
  }
  h2 {
    font-size: 6vw;
    text-align: center;
  }
  fieldset,
  input[type='number'].number-input {
    // extra class for specificity
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  input[type='number'].number-input {
    width: 10em;
  }
  .generated-text {
    padding: 1em;
  }
}
